 /* Remove the navbar's default margin-bottom and rounded borders */ 
    .navbar {
      margin-bottom: 0;
      border-radius: 0;
      background-color: #d1d1d1;
      border-color: #9e9e9e;
    }
    
    
    /* Set gray background color and 100% height */
    .sidenav {
      padding-top: 20px;
      background-color: #f1f1f1;
      height: 100%;
    }
    
    /* Set black background color, white text and some padding */
    footer {
      background-color: #d1d1d1;
      color: rgb(65, 63, 63);
      padding: 15px;
      position: fixed;
      bottom: 0;
      width: 100%;
    }
    
    /* On small screens, set height to 'auto' for sidenav and grid */
    @media screen and (max-width: 767px) {
      .sidenav {
        height: auto;
        padding: 15px;
        height: 100%;
      }
    }
    .input-disabled{
    background-color:#FFF !important;
    }
    .navitas-logo{
      max-width: 40%;      
    }
    @media (max-width: 767px) {
      .navitas-logo{
        max-width: 30%;      
      }
    }
    .output-JSON{
      background-color: #fafafa;
    }      